* {
  margin: 0;
  padding: 0;
}

.header-tab {
  background-color: #3c3a39;
  height: 44px;
  display: flex;
  width: 100%;
}

.tab-title {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 12px;
  margin: 2px 12px;
  flex-grow: 1;
}

.menu-button {
  padding: 8px;
  margin: 4px;
}

.header-content {
  background-image: url(src/mobile-background.png);
  background-size: 60%;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: #1c1a19;
}

.header-primary-text {
  color: #ff6b00;
  font-size: 30px;
  font-family: 'Crete Round', serif;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding: 12px 1px;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}

.header-supporting-text {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}

.header-description {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}

ul.social-media {
  list-style-type: none;
  margin-bottom: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

ul.social-media li {
  display: inline;
  margin: 10px 12px;
}

#works-section-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 52px;
  color: #1c1a19;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  text-align: center;
}

#separator {
  border-bottom: 1px solid #212121;
  width: 327px;
  margin: auto;
  margin-bottom: 80px;
}

#featured-project {
  margin-right: 24px;
  margin-left: 24px;
}

#featured-project-image {
  display: block;
  margin: auto;
  margin-bottom: 24px;
}

#featured-project-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

#featured-project-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

ul.featured-project-languages {
  list-style-type: none;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  gap: 12px;
}

ul.featured-project-languages li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  text-align: center;
  padding: 12px 10px;
}

.featured-project-button {
  align-items: center;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
  padding: 12px;
  margin-top: 12px;
}

ul.projects-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 386px 386px 386px 386px 386px 386px;
  align-content: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 120px;
  grid-gap: 24px;
}

ul.projects-container li {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(38, 38, 38, .7)), url('src/project-image.png');
  background-size: cover;
  margin-top: 24px;
  background-repeat: no-repeat;
}

.project-card-content {
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
}

.project-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
}

ul.project-languages {
  list-style-type: none;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  gap: 12px;
}

ul.project-languages li {
  border: none;
  background: rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
  text-align: center;
  padding: 12px 10px;
}

.project-button {
  margin-top: 22px;
  align-items: center;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
  width: 100%;
}

.about-me {
  background-color: #1c1a19;
  text-align: center;
}

#about-me-content {
  text-align: left;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url('src/illustration-about-me-mobile.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 170px;
}

#about-me-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 44px;
  color: #ff6b00;
  text-align: center;
}

#about-me-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 12px;
}

#separator2 {
  border-bottom: 1px solid #fff;
  width: 327px;
  margin: auto;
  margin-bottom: 136px;
}

ul#information-list {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 20;
  font-size: 25px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  list-style-position: inside;
  margin-bottom: 131px;
}

ul#information-list li {
  margin-top: 44px;
  margin-bottom: 12px;
}

.information-list-item-title {
  display: inline-flex;
  position: relative;
  left: -11px;
}

.information-list-item-title img {
  align-self: center;
  margin-right: 8px;
}

ul.information-list-subitems {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
}

ul.information-list-subitems li {
  margin-top: 32px;
}