* {
  margin: 0;
  padding: 0;
}

.header-tab {
  background-color: #3c3a39;
  height: 44px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.tab-title {
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 12px;
  margin: 2px 12px;
  flex-grow: 1;
}

.menu-button {
  padding: 8px;
  margin: 4px;
}

.header-content {
  background-image: url(src/Illustration.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% 121%;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.header-primary-text {
  color: #ff6b00;
  font-size: 30px;
  font-family: 'Crete Round', serif;
  line-height: 64px;
  letter-spacing: 0.37px;
  padding: 12px 1px;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}

.header-supporting-text {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}

.header-description {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}

ul.social-media {
  list-style-type: none;
  margin-bottom: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

ul.social-media li {
  display: inline;
  margin: 10px 12px;
}

.social-media a {
  color: transparent;
}

.works-section {
  display: grid;
}

#works-section-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  color: #1c1a19;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  text-align: center;
}

#separator {
  border-bottom: 1px solid #212121;
  width: 327px;
  margin: auto;
  margin-bottom: 80px;
}

#featured-project {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  margin-left: 24px;
}

#featured-project-image {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 24px;
}

#featured-project-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

#featured-project-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

ul.featured-project-languages {
  list-style-type: none;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  gap: 12px;
}

ul.featured-project-languages li {
  border: 1px solid #8993a4;
  box-sizing: border-box;
  text-align: center;
  padding: 12px 10px;
}

.featured-project-button:enabled {
  align-items: center;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
  margin-top: 12px;
  width: 100%;
}

.featured-project-button:hover {
  padding: 11px;
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.featured-project-button:active {
  padding: 12px;
  background: #e05304;
  color: #fff;
  border: none;
}

.featured-project-button:disabled {
  padding: 12px;
  background: #f4f1f0;
  color: #5b5957;
  border: none;
}

ul.projects-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  align-content: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 120px;
  grid-gap: 24px;
}

ul.projects-container li {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(38, 38, 38, 0.7)), url('src/project-image.png');
  background-size: cover;
  margin-top: 24px;
  background-repeat: no-repeat;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;
}

.project-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
}

ul.project-languages {
  list-style-type: none;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  gap: 12px;
}

ul.project-languages li {
  border: none;
  background: rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
  text-align: center;
  padding: 12px 10px;
}

.project-button:enabled {
  margin-top: 22px;
  align-items: center;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
  width: 100%;
}

.project-button:hover {
  padding: 11px;
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.project-button:active {
  padding: 12px;
  background: #e05304;
  color: #fff;
  border: none;
}

.project-button:disabled {
  padding: 12px;
  background: #f4f1f0;
  color: #5b5957;
  border: none;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  text-align: center;
  z-index: 2;
}

#about-me-content {
  text-align: left;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url('src/illustration-about-me-mobile.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 170px;
}

#about-me-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 44px;
  color: #ff6b00;
  text-align: center;
}

#about-me-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 12px;
}

.about-me-button:enabled {
  align-items: center;
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
  margin-top: 12px;
}

.about-me-button:hover {
  padding: 11px;
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.about-me-button:active {
  padding: 12px;
  background: #e05304;
  color: #fff;
  border: none;
}

.about-me-button:disabled {
  padding: 12px;
  background: #f4f1f0;
  color: #5b5957;
  border: none;
}

#separator2 {
  border-bottom: 1px solid #fff;
  width: 327px;
  margin: auto;
  margin-bottom: 136px;
}

ul#information-list {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 20;
  font-size: 25px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  list-style-position: inside;
  margin-bottom: 131px;
}

ul.footer-social-media {
  list-style-type: none;
  margin: 0 auto 0 auto;
}

ul.footer-social-media li {
  display: inline;
}

.footer-social-media a {
  color: transparent;
}

ul#information-list li {
  margin-top: 44px;
  margin-bottom: 12px;
}

.information-list-item-title {
  display: inline-flex;
  position: relative;
  left: -11px;
}

.information-list-item-title img {
  align-self: center;
  margin-right: 8px;
}

ul.information-list-subitems {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-top: 32px;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 24px;
}

.contact-me-form-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 120px;
  margin-bottom: 73px;
}

.input-fields {
  padding-left: 20px;
  padding-right: 20px;
}

.input-fields ul {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  margin-top: 32px;
}

input {
  border: 0;
  width: 295px;
  display: block;
  padding: 16px 15px;
}

textarea {
  border: 0;
  width: 303px;
  height: 114px;
  padding: 12px;
}

.separator3 {
  border-bottom: 1px solid #dbd8d7;
  width: 327px;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

#separator4 {
  border-bottom: 1px solid #dfe1e6;
  width: 100%;
  margin-top: 136px;
  margin-bottom: 12px;
}

.desktop-menu {
  display: none;
}

.header-social-media-desktop {
  display: none;
}

@media only screen and (min-width: 1100px) {
  .header-tab {
    background-color: #3c3a39;
    height: 72px;
    display: flex;
    position: fixed;
    width: 100%;
    align-content: center;
  }

  h3 {
    margin: 0;
  }

  .tab-title {
    font-family: 'Inter', sans-serif;
    margin: 0;
    align-self: center;
    margin-left: 154px;
    font-size: 20px;
    font-weight: 600;
    flex-grow: 1;
  }

  .menu-button {
    display: none;
  }

  .desktop-menu {
    display: flex;
    list-style: none;
  }

  .desktop-menu a {
    align-self: center;
    margin-right: 32px;
    color: #fff;
    font-size: 15px;
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 10px 12px;
    text-decoration: none;
  }

  .desktop-menu li {
    align-self: center;
    margin-right: 32px;
    color: #fff;
    font-size: 15px;
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 10px 12px;
  }

  .mail-icon {
    margin-right: 52px;
  }

  .header-content {
    background-image: url(src/Illustration-header-desktop.svg);
    background-size: auto;
    background-position: top right;
    height: 798px;
    flex-direction: row;
    align-content: center;
    padding-top: 72px;
  }

  .social-media {
    display: none;
  }

  .header-text {
    align-self: center;
  }

  .header-primary-text h1 {
    font-size: 72px;
    line-height: 81px;
    font-weight: 100;
  }

  .header-primary-text {
    margin-top: 0;
  }

  .header-description {
    width: 400px;
    font-weight: 10;
  }

  ul.header-social-media-desktop {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
    margin-left: 36px;
    margin-right: 87px;
  }

  .works-section-title {
    display: flex;
    margin-bottom: 113px;
    margin-left: 153px;
    margin-right: 153px;
    flex-direction: row;
  }

  #works-section-title {
    margin-top: 135px;
    margin-right: 24px;
    text-align: left;
  }

  #separator {
    height: 1px;
    background-color: #091e42;
    margin: 0;
    margin-top: 161px;
    flex-grow: 1;
  }

  #featured-project {
    display: flex;
    flex-direction: row;
    margin-right: 142px;
    margin-left: 142px;
    margin-bottom: 24px;
  }

  #featured-project-image {
    display: block;
    margin: 0;
    margin-right: 24px;
  }

  #featured-project-title {
    margin-bottom: 24px;
  }

  .featured-project-button:enabled {
    width: fit-content;
  }

  ul.projects-container {
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-gap: 40px;
    margin: 0 141px 0 141px;
  }

  .project-languages {
    margin-bottom: 16px;
  }

  .project-button:enabled {
    visibility: hidden;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    text-align: center;
    margin-top: 130px;
  }

  #about-me-content {
    text-align: left;
    padding-top: 0;
    padding-left: 142px;
    padding-right: 24px;
    background-image: url('src/illustration-about-me-desktop.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
    padding-bottom: 170px;
  }

  #about-me-title {
    margin-top: 130px;
    line-height: 81px;
    text-align: left;
  }

  #about-me-description {
    font-size: 20px;
    line-height: 32px;
    width: 50%;
  }

  #separator2 {
    border-bottom: 1px solid #fff;
    width: 1156px;
    margin: auto;
    margin-bottom: 146px;
  }

  ul#information-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: 0 280px 131px 141px;
  }

  li.information-list-titles {
    display: inline-flex;
    flex-direction: column;
    margin-left: 30px;
  }

  .contact-me-form {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 24px;
  }

  .contact-me-form-title {
    width: 455px;
    margin-top: 50px;
    margin-left: 135px;
    text-align: left;
    flex-grow: 1;
  }

  .input-fields {
    flex-grow: 3;
    margin-top: 130px;
    margin-right: 142px;
    margin-left: 24px;
  }

  input {
    border: 0;
    display: block;
    padding: 16px 15px;
    width: 100%;
  }

  textarea {
    border: 0;
    width: 100%;
    height: 114px;
    padding: 12px;
  }

  .separator3 {
    border-bottom: 1px solid #dbd8d7;
    width: 100%;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 24px;
  }

  #project1 div {
    visibility: hidden;
  }

  #project1 {
    background-image: url(src/project-image.svg);
    border: 2px solid black;
  }

  #first-project-button {
    visibility: visible;
  }
}
